* {
    text-decoration: none;
    color: black;
}

#recipeList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 0;
    width: 80%;
    min-width: 350px;
    max-width: 600px;
    gap: 20px;

    #recipeOptions {
        grid-column: 1 / -1;
        display: flex;
        gap: 10px;
    }
}